<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Central Bank Homepage</title>
<link rel="stylesheet" type="text/css" href=""th:href="@{/css/css1.css}"/>
</head>
<body class="body1">
<p>
<table class="table1" bgcolor="black">
<tr>
<td class="td1">Home</td>
<td class="td1">About Us</td>
<td class="td1">Pages</td>
<td class="td1">News</td>
<td class="td1">Contact US</td>
</tr>
</table>
<img class="img1" src="" th:src="@{/images/image2.jpeg}" alt="Banking Image"/></p>
<h1>Central Bank</h1>
<h2 align="center"><i>....we are giving peoples dreams to be successed.Join with US....</i></h2>
<h3>
<a href="/login1"><img align="center" class="img3" src="" th:src="@{/images/image5.png}" alt="login"></a>
<a href="/registration"><img align="center" class="img2" src="" th:src="@{/images/image4.png}" alt="Register"></a></h3>


</body>
</html>